@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.AntiForgeryToken()
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="t1">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Barcode</th>
            <th>OnHand</th>
            <th>Cost</th>
            <th>Category</th>
            <th>Unit</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#t1").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "ajax": {
                    "url": "Products/GetData",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "productName", "name": "productName" },
                    { "data": "barcode", "name": "barcode" },
                    { "data": "onHand", "name": "onHand" },
                    { "data": "cost", "name": "cost" },
                    { "data": "categoryId", "name": "categoryId" },
                    { "data": "unitId", "name": "unitId" },
                    {
                        "render": function (data, type, full, meta) {
                            //console.log(full);
                            return '<a class="btn btn-info" href="Products/Edit/' + full.productId + '"><i class="fa fa-edit"></i></a>';
                        }, orderable: false
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.productId + "');><i class='fa fa-trash'></i></a>";
                        }, orderable: false
                    }
                ]
            });
        });
        function DeleteData(id) {
            if (confirm("Do you want to delete this record?")) {
                var token = $("input[name=__RequestVerificationToken]").val();
                $.ajax({
                    method: "POST",
                    url: "Products/Delete/" + id,
                    dataType: "Html",
                    data: { id: id, __RequestVerificationToken: token },
                    success: function () {
                        var table = $("#t1").DataTable();
                        table.draw();
                    }, error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    </script>
}
